* {
    margin: 0;
    padding: 0;
}

body{
    padding: 20px;
}

main {
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
}

div{
    width: 100%;
}

form {
    border-radius: 14px;
    padding: 20px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input{
    font-size: 28px;
}

textarea{
    font-size: 18px;
}
